@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sansita+Swashed:wght@300&display=swap');
button{
    border: none;
    background-color: inherit;
    padding: 20px 10px;
}
.extend{
    position: absolute;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
}


.extend > div:hover{
    background-color: rgb(237, 241, 241);
}

.extend > div{
    min-height: 170px;
    line-height: 170px;
}

div.burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 12px;
  }
  

a > i{
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    height: 30%;
}