@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sansita+Swashed:wght@300&display=swap');
.sidebar{
    /* width: 140px; */
    display: grid;
    align-self: center;
    margin-top: 40px;
    padding-left: 70px;
}

.sidebar > div{
    width: 120px;
}

.logo{
    margin: 0 20px;
    font-family: 'Rochester', cursive;
    font-size: 30px;
}

a > i, .logout{
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
}