@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    background: linear-gradient(90deg, #408EBA 50%, #102539 50%);
    padding: 0 30px;
    color: white;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}


.link > a{
    color: ivory;
    margin-left: 30px;
    font-size: 16px;
    line-height: 70px;
    text-decoration: none;
}

h3{
    font-size: 16px;
}

.link > a:hover{
    color: rgb(50, 221, 164);
}

.link-div{
    display: flex;
}



.icon-wrapper > img{
    width: 100px;
}