@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.manage-table{
    margin: 0 100px;
    background-color: #c9dce7;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 4px 4px  #537a91;
    
}

*{
    font-family: 'Montserrat', sans-serif;
}
tbody > tr:nth-child(even){
    background-color:#3c4d57;
    color: white;
}

.modal.show{
    display: block;
}

button{
    margin-right: 6px;
}

.dis{
    text-decoration: line-through;
}