.sidebar{
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.wrapper{
    background-color: rgb(236, 235, 231);
    border-radius: 20px;
    padding: 20px;
}

.search{
    border: none;
    border-bottom: rgb(48, 136, 163) solid;
    width: 300px;
}

.fa-search{
    background-color:rgb(48, 136, 163) ;
    /* height: 2em; */
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.search-div{
    margin-bottom: 20px;
}