.sidebar{
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
  
}

.nav{
    position: fixed;
    /* left: 0%;
    top: 0%; */
    /* width: 200px; */
}
.wrapper{
    background-color: rgb(236, 235, 231);
    border-radius: 20px;
    padding: 20px;
}

.search{
    border: none;
    border-bottom: rgb(48, 136, 163) solid;
    width: 300px;
}

.fa-search{
    background-color:rgb(48, 136, 163) ;
    /* height: 2em; */
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.search-div{
    margin-bottom: 20px;
}

button{
    border-radius: 10px;
    border: none;
    padding: 4px 20px;
}

.flex{
    justify-content: space-between;
}